/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
header {
  background-color: #3700ff;
}
nav {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 15px;
  background-color: #3700ff;
  color: #ffffff;
  padding: 22px;
}
.btn {
  --color: #ffffff;
  --color2: #3700ff;
  padding: 0.3em 0.7em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 12px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
}

.btn::after,
.btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
  color: var(--color2);
}

.btn:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}
header {
  position: relative;
}
.logo {
  position: absolute;
  top: 25px;
  left: 40px;
}
a:hover{
  cursor: pointer;
  color: black;
}
/* .... nav bar completed....  */
.header-text-main{
display: flex;
/* flex-direction: row; */
/* justify-content: center; */
background-color: #3700ff;
}
.header-image{
  position: absolute;
  right: 0px;
  top: 107px;
}
.header-text{
  margin-top: 30px;
  color: #ffffff;
  margin-left: 10px;
  padding: 153px;
}

/* <!-- Companies --> */
.companies,.company-items{
  display: flex;
  flex-direction: row;
  gap:30px;
  margin-left:30px;
  text-decoration: none;
  color:#000000;
  font-weight: bolder;
  font-size: 23px;
  margin-top: 12px;
}
